html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-static-top {
    margin: 0;
    background: #fff;
    z-index: 999;
}

ul.nav > li > a {
    padding: 5px 20px 5px 10px;
    margin: 10px 0;
    border-left: 2px solid #999;
}

ul.nav > li > a:hover {
    border-color: #f00;
}

ul.nav > li.active > a {
    border-color: #f00;
    background: inherit!important;
}

@media (min-width:768px) {

    body {padding-top:50px;}
    .navbar-static-top {position:fixed;top:0;right:0;left:0;}

}

section {
    padding-top: 50px;
}

#hero {
    display: flex;
    height: 70%;
    margin: 0 !important;
}

#hero > * {
    margin: auto;
}

#hero h1 {
    text-align: center;
    font-family: courier;
}

#hero h1::before {
    content: '{'
}

#hero h1::after {
    content: '},'
}

.under-hero { margin: 0 !important; }
.under-hero h3 {
    text-align: center;
    font-family: courier;
}

.under-hero h3::before {
    content: '{'
}

.under-hero h3::after {
    content: '}'
}

.under-hero a {
    color: inherit !important;
}

.more-space {
    margin: 50px auto;
}

.more-space h3 {
    text-align: center;
    font-family: courier;
}

.more-space h3::before {
    content: '{'
}

.more-space h3::after {
    content: '}'
}

.more-space a {
    color: inherit !important;
}

section h4 {
    text-align: center;
}

section > div > h1 {
    text-align: center;
}

section > div > h1 > span {
    text-align: center;
    display: inline-block;
    margin-left: 0.5em;
    padding-left: 0.5em;
    font-style: italic;
    border-left: 2px solid #f00;
}

#mission { height: 100%; }

#mission h1 { margin: 0; }

#mission > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

#mission p {
    display: block;
    width: auto;
    font-size: 36px;
    font-style: italic;
    max-width: 500px;
    border-left: 2px solid #f00;
    margin-left: 0.5em;
    padding-left: 0.5em;
}

.subproject {
    min-height: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#data-form {
    transform: perspective( 600px ) rotateY( 25deg );
    width: 100%;
}

#team {
    min-height: 100%;
}

#team article {
    margin-top: 50px;
    text-align: center;
}

#team article img {
    max-width: 200px;
    max-height: 200px;
}

#team a {
    color: inherit !important;
}
